MBDSBoites/*.iml
MBDSBoites/.gradle
MBDSBoites/local.properties
MBDSBoites/.idea/caches
MBDSBoites/.idea/libraries
MBDSBoites/.idea/modules.xml
MBDSBoites/.idea/workspace.xml
MBDSBoites/.idea/navEditor.xml
MBDSBoites/.idea/assetWizardSettings.xml
MBDSBoites/.DS_Store
MBDSBoites/build
MBDSBoites/captures
MBDSBoites/.externalNativeBuild
MBDSBoites/.cxx
MBDSBoites/local.properties
