@import 'commun.css';


.boite-info, .loading-info  {
    background-image: linear-gradient(0deg, #fff 0%, #FCFCFC  100%);
    border: 1px solid #E3E7EF;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 5%);
    border-radius: 3px;
    padding: 1rem;
    margin-bottom: 2em;
}

.boite-header, .loading-header {
    margin-bottom: 1em;
    display: flex;
    align-items: center;
}

.boite-title {
    color: #E17C00;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.05rem;
    font-size: 1.9em;
    margin-right: 0.5em;
}

.boite-dimensions {
    font-size: 1.3em;
    font-weight: 700;
    letter-spacing: 0.05rem;
    color: #96A3B6;
    margin-right: 0.5em;
}

.associer {
    background: #E17C00;
    display: inline-block;
    font-size: 1.4em;
    line-height: 1.5em;
    padding: 3px 8px;
    color: white;
    border-radius: 3px;
    font-weight: 700;
    vertical-align: middle;
    margin-right: 0.5em;
    cursor: pointer;
    border: 0.1em solid #E17C00;
}

.modifier {
    border: 0.1em solid #E17C00;
    color: #E17C00;
    display: inline-block;
    font-size: 1.4em;
    line-height: 1.5em;
    padding: 3px 8px;
    border-radius: 3px;
    font-weight: 700;
    vertical-align: middle;
    margin-right: 0.5em;
    cursor: pointer;
}

.supprimer {
    margin-left: auto;
    margin-right: 0.5em;
    font-size: 1.5em;
    background-color: #d61a1a;
    padding: 0.5em 0.6em;
    line-height: 1.5em;
    border-radius: 0.2em;
    color: #e6e9ec;
    cursor: pointer;
}

.boite-desc {
    font-size: 1.8em;
}

.loading-title {
    width: 40%;
    height: 2em;
    background-color: #e6e9ec;
    border-radius: 0.5em;
}

.loading-dimensions {
    margin-left: 1em;
    width: 30%;
    height: 1.5em;
    background-color: #e6e9ec;
    border-radius: 0.5em;
}

.loading-desc {
    width: 100%;
    height: 15em;
    background-color: #e6e9ec;
    border-radius: 0.5em;
}
